<launch>
    <node pkg="robo_control" type="control_strategy_2_node" name="control_strategy_2_node" output="screen">
    <!-- 蹲点的位置 -->
    <!-- 朝左是 1.57, 朝右是 -1.57 -->
    <rosparam param="pointA"> [2.6, 3.1, 0]</rosparam>  <!-- 1 车 1 点 -->
    <rosparam param="pointB"> [3.6, 4.2, -1.57]</rosparam>  <!-- 2 车 1 点 -->
    <rosparam param="pointC"> [1.3, 1.8, 1.57]</rosparam>  <!-- 2 车 2 点 -->
    <rosparam param="pointD"> [2.6, 0.8, 1.57]</rosparam>  <!-- 1 车 2 点 -->

    <!-- 1 车 -->
    <rosparam param="robo_point1"> [2.6, 3.1, 0]</rosparam>
    <rosparam param="robo_point2"> [2.6, 0.8, 1.57]</rosparam>

    </node>
</launch>
<!--  -->
