<?xml version="1.0"?>

<launch>
  <include file="$(find robo_navigation)/launch/amcl_omni.launch" /> 

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="8.0"/>
<param name="recovery_behavior_enabled" value="true"/>
<param name="clearing_rotation_allowed" value="true"/>

<!-- base_local_planner/TrajectoryPlannerROS    dwa_local_planner/DWAPlannerROS   eband_local_planner/EBandPlannerROS   teb_local_planner/TebLocalPlannerROS   -->

<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
<!--navfn/NavfnROS   global_planner/GlobalPlanner  carrot_planner/CarrotPlanner-->
<param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find robo_navigation)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robo_navigation)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robo_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robo_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robo_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robo_navigation)/config/recovery.yaml" command="load" />
  </node>

</launch>
